---
const baseClasses =
  "group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-bold text-neutral-50 ring-zinc-500 transition duration-300 focus-visible:ring outline-none";
const borderClasses = "border border-transparent";
const bgColorClasses =
  "bg-red-400 hover:bg-red-500 active:bg-red-500";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "2xl:text-base";
const ringClasses = "dark:ring-zinc-200";
export interface Props{
    href:string,
    text:string,
    className?:string,
    variant:"primary"|"secondary"
}

const {href, text,className, variant} = Astro.props
---

<a target="_blank" 
  class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses} ${className}`}
  href={href}
>
{text}
</a>